<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.test.board.model.mapper.BoardMapper">
		
		<!--userid를 가져오려면 userno를 통해 using을 한다 -->
		<!-- LIKE가 %${inputTitle}% 포함된거를 불러오는거 -->
		<select id="selectBoard" resultType="Board">

			SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_READCOUNT, USER_ID,

			TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') BOARD_DATE
			
			FROM TB_BOARD
				
			JOIN TB_USER USING(USER_NO)

			WHERE BOARD_TITLE LIKE '%${inputTitle}%'

		</select>

</mapper>