<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.kh.test.customer.model.mapper.CustomerMapper">


<!-- sql문 작성한거 옮겨적기-->
	<insert id="insertCustomer">
	
		INSERT INTO CUSTOMER
		
		VALUES(SEQ_CUSTOMER_NO.NEXTVAL, #{customerName}, #{customerTel}, #{customerAddress})
		
	</insert>

</mapper>